<!DOCTYPE HTML>
<HTML xmlns:th="http://www.thymeleaf.org">
	
	<HEAD>
		<title>Task List</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="refresh" content="30"/>
		
		<script src="formjs.js" th:src="@{/js/formjs.js}" ></script>
		<link rel="stylesheet" type="text/css" href="formcss.css" th:href="@{/css/formcss.css}" />
	</HEAD>
	<BODY onload="onload();">		
		
		<h1>Welcome to the Task List</h1>
		<form action="#" onsubmit="validarInput();" method="post" th:action="@{/}" th:object="${taskForm}" >
				<button class="button" ID="btnSubmit" name="btnSubmit" >Add Task</button>			
				<input id="txtTask" name="txtTask" type="text" th:field="*{task}" />
		</form>
		<br>
		<table>
			<thead>
				<tr>
					<th class="status">Status</th>
					<th> Task </th>					
				</tr>
			</thead>		
			<tbody>
				<tr th:if="${taskList.empty}">
	            	<td colspan="2"> No Tasks Available </td>
	        	</tr>
	        	<tr th:each="t : ${taskList}">
	        		<td onclick="removerTask(this);" class="remover">X</td>
	            	<td><span th:text="${t.task}"> Task </span></td>
					<td style="display:none">
						<a th:href="@{/delete/{id}(id=${t.id})}">Excluir</a>
					</td>
	        	</tr>	        	 
			</tbody>
		</table>
	</BODY>
</HTML>   